examples/generator.json
[{"id":"65f71e5cad33ed57","type":"tab","label":"Generate boolean circuit","disabled":false,"info":"","env":[]},{"id":"e965ec13a6bb7d9a","type":"inject","z":"65f71e5cad33ed57","name":"Truth table - 6 inputs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ones\":[\"000000\",\"000111\",\"111000\",\"111111\"],\"dontcares\":[\"101101\"]}","payloadType":"json","x":130,"y":160,"wires":[["ac5d6d6838bf4fc5"]]},{"id":"6c557912b99af250","type":"inject","z":"65f71e5cad33ed57","name":"Truth table - 3 inputs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ones\":[\"000\",\"101\",\"110\"],\"dontcares\":[\"111\"]}","payloadType":"json","x":130,"y":80,"wires":[["ac5d6d6838bf4fc5"]]},{"id":"0edf634b25a3bf77","type":"inject","z":"65f71e5cad33ed57","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":360,"wires":[["e1f51dfb3745a2c9"]]},{"id":"ac5d6d6838bf4fc5","type":"boolean generator","z":"65f71e5cad33ed57","x":360,"y":200,"wires":[["5de4c875f84ade11"]]},{"id":"5de4c875f84ade11","type":"http request","z":"65f71e5cad33ed57","d":true,"name":"Post new flow","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:port/path/flow","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":440,"y":300,"wires":[[]]},{"id":"88cbfd6fc7f1c90d","type":"comment","z":"65f71e5cad33ed57","name":"This is an example of what could be done with the generated flow.","info":"","x":480,"y":360,"wires":[]},{"id":"86587593d4c4fe2d","type":"comment","z":"65f71e5cad33ed57","name":"Please adjust port and path to your environment.","info":"","x":460,"y":400,"wires":[]},{"id":"e1f51dfb3745a2c9","type":"boolean table","z":"65f71e5cad33ed57","truthjson":"{}","x":130,"y":260,"wires":[["ac5d6d6838bf4fc5"]]}]
