examples/inoperation.json
[{"id":"c915f5851715ef1d","type":"tab","label":"In operation ","disabled":false,"info":"","env":[]},{"id":"542c2de1bc2a9e08","type":"boolean gate","z":"c915f5851715ef1d","gatetype":"and","filter":"10","output":"undefined","x":500,"y":40,"wires":[["9d35fb3de5c20dd0"],[]]},{"id":"76f5e35d340632c3","type":"inject","z":"c915f5851715ef1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":40,"wires":[["0566213867cdd8da","ad868dcbd97d6ea8","191b0c0207a9d529"]]},{"id":"0566213867cdd8da","type":"delay","z":"c915f5851715ef1d","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":20,"wires":[["542c2de1bc2a9e08"]]},{"id":"773f2b0ffe58bdd9","type":"inject","z":"c915f5851715ef1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":100,"wires":[["0566213867cdd8da","ad868dcbd97d6ea8","191b0c0207a9d529"]]},{"id":"ad868dcbd97d6ea8","type":"delay","z":"c915f5851715ef1d","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":80,"wires":[["2997d30f7e1e06f1"]]},{"id":"2997d30f7e1e06f1","type":"boolean gate","z":"c915f5851715ef1d","gatetype":"and","filter":"10","output":"undefined","x":500,"y":120,"wires":[["9d35fb3de5c20dd0","66b2cb8008f88615"],[]]},{"id":"191b0c0207a9d529","type":"delay","z":"c915f5851715ef1d","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":140,"wires":[["9c00959b7933f342"]]},{"id":"9c00959b7933f342","type":"boolean gate","z":"c915f5851715ef1d","gatetype":"and","filter":"10","output":"undefined","x":500,"y":200,"wires":[["9d35fb3de5c20dd0","66b2cb8008f88615","3e2e275aa3943121"],[]]},{"id":"9d35fb3de5c20dd0","type":"boolean gate","z":"c915f5851715ef1d","gatetype":"and","filter":"10","output":"undefined","x":710,"y":60,"wires":[["238fc5adb3dcb37b"],[]]},{"id":"66b2cb8008f88615","type":"boolean gate","z":"c915f5851715ef1d","gatetype":"or","filter":"10","output":"undefined","x":710,"y":160,"wires":[["238fc5adb3dcb37b","3e2e275aa3943121"],[]]},{"id":"238fc5adb3dcb37b","type":"boolean gate","z":"c915f5851715ef1d","gatetype":"and","filter":"10","output":"undefined","x":970,"y":80,"wires":[[],[]]},{"id":"3e2e275aa3943121","type":"boolean gate","z":"c915f5851715ef1d","gatetype":"or","filter":"10","output":"undefined","x":870,"y":260,"wires":[["238fc5adb3dcb37b"],[]]},{"id":"a1f3bd83036449e3","type":"comment","z":"c915f5851715ef1d","name":"Two message sequences, one false and one true is generated","info":"","x":240,"y":300,"wires":[]},{"id":"5b3fa347d6a63d0d","type":"comment","z":"c915f5851715ef1d","name":"Each sequence is delayed randomly","info":"","x":160,"y":360,"wires":[]},{"id":"3e921f601937d55d","type":"comment","z":"c915f5851715ef1d","name":"Each 'randomized' sequence pair (true/false) enters the network via its own entrance","info":"","x":310,"y":420,"wires":[]},{"id":"0c8a3abe8d2eb61d","type":"comment","z":"c915f5851715ef1d","name":"Watch the gate indicators ","info":"","x":130,"y":480,"wires":[]}]
