examples/inputtest.json
[{"id":"02ed55c200dab832","type":"tab","label":"Input test","disabled":false,"info":"","env":[]},{"id":"55495757c1e74487","type":"inject","z":"02ed55c200dab832","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"On\":true}","payloadType":"json","x":120,"y":420,"wires":[["a96aa9a92904e1e1"]]},{"id":"44bbaf902d9ccfb9","type":"inject","z":"02ed55c200dab832","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"On\":false}","payloadType":"json","x":130,"y":360,"wires":[["a96aa9a92904e1e1"]]},{"id":"ad288c8f3dbc4274","type":"inject","z":"02ed55c200dab832","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"On\":0}","payloadType":"json","x":120,"y":500,"wires":[["a96aa9a92904e1e1"]]},{"id":"aca1444683a3da79","type":"inject","z":"02ed55c200dab832","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"On\":1}","payloadType":"json","x":120,"y":560,"wires":[["a96aa9a92904e1e1"]]},{"id":"69440a88ea1fef23","type":"inject","z":"02ed55c200dab832","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":200,"wires":[["a96aa9a92904e1e1"]]},{"id":"ed94df9e7a13559f","type":"inject","z":"02ed55c200dab832","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":260,"wires":[["a96aa9a92904e1e1"]]},{"id":"2511314136ad7aae","type":"inject","z":"02ed55c200dab832","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":60,"wires":[["a96aa9a92904e1e1"]]},{"id":"096069435414f445","type":"inject","z":"02ed55c200dab832","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":120,"wires":[["a96aa9a92904e1e1"]]},{"id":"a96aa9a92904e1e1","type":"boolean gate","z":"02ed55c200dab832","gatetype":"equ","filter":"10","output":"undefined","x":520,"y":340,"wires":[[],[]]},{"id":"4a51dd01afc26d9f","type":"inject","z":"02ed55c200dab832","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"foo\":\"bar\"}","payloadType":"json","x":130,"y":640,"wires":[["a96aa9a92904e1e1"]]},{"id":"16483b1d71f92546","type":"comment","z":"02ed55c200dab832","name":"Test the various input alternatives","info":"","x":450,"y":40,"wires":[]},{"id":"6f7d039181dfc12d","type":"comment","z":"02ed55c200dab832","name":"Legal boolean payload results in","info":"","x":470,"y":120,"wires":[]},{"id":"cb74874a386eb409","type":"comment","z":"02ed55c200dab832","name":"Green dot indicator for \"true\" value","info":"","x":520,"y":160,"wires":[]},{"id":"45cae68b75856fa8","type":"comment","z":"02ed55c200dab832","name":"Green ring indicator for \"false\" value","info":"","x":520,"y":200,"wires":[]},{"id":"ba43b1a124c6bc08","type":"comment","z":"02ed55c200dab832","name":"Illegal boolean payload results in","info":"","x":450,"y":540,"wires":[]},{"id":"24e115b53cb015ba","type":"comment","z":"02ed55c200dab832","name":"Red ring indicator with payload info","info":"","x":500,"y":600,"wires":[]},{"id":"e7222e401aebd366","type":"comment","z":"02ed55c200dab832","name":"Here the color is blue, not green.","info":"","x":550,"y":240,"wires":[]},{"id":"840f62a633efc3d1","type":"comment","z":"02ed55c200dab832","name":"This is due to that 'too many' nodes are connected to an EQU gate.","info":"","x":700,"y":280,"wires":[]}]
