examples/inputtest.json
[{"id":"c915f5851715ef1d","type":"tab","label":"Input test","disabled":false,"info":"","env":[]},{"id":"9393c9b421c19230","type":"inject","z":"c915f5851715ef1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"On\":true}","payloadType":"json","x":140,"y":460,"wires":[["542c2de1bc2a9e08"]]},{"id":"4dca71aaafab7818","type":"inject","z":"c915f5851715ef1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"On\":false}","payloadType":"json","x":150,"y":380,"wires":[["542c2de1bc2a9e08"]]},{"id":"15a1c450e39fe30f","type":"inject","z":"c915f5851715ef1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"On\":0}","payloadType":"json","x":140,"y":540,"wires":[["542c2de1bc2a9e08"]]},{"id":"993f8cbc668fb21a","type":"inject","z":"c915f5851715ef1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"On\":1}","payloadType":"json","x":140,"y":620,"wires":[["542c2de1bc2a9e08"]]},{"id":"8aaf53c6c13a7222","type":"inject","z":"c915f5851715ef1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":220,"wires":[["542c2de1bc2a9e08"]]},{"id":"557ab3bc17b3df79","type":"inject","z":"c915f5851715ef1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":130,"y":300,"wires":[["542c2de1bc2a9e08"]]},{"id":"d6ef6cba3386a25d","type":"inject","z":"c915f5851715ef1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":60,"wires":[["542c2de1bc2a9e08"]]},{"id":"bc63b40948a244cc","type":"inject","z":"c915f5851715ef1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":140,"wires":[["542c2de1bc2a9e08"]]},{"id":"542c2de1bc2a9e08","type":"boolean gate","z":"c915f5851715ef1d","gatetype":"entrance","x":500,"y":340,"wires":[[]]},{"id":"15f3316b35dfd448","type":"inject","z":"c915f5851715ef1d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"foo\":\"bar\"}","payloadType":"json","x":430,"y":620,"wires":[["542c2de1bc2a9e08"]]},{"id":"2cb971cd2f23a37d","type":"comment","z":"c915f5851715ef1d","name":"Test the various input alternatives","info":"","x":450,"y":40,"wires":[]},{"id":"42f968e53d321815","type":"comment","z":"c915f5851715ef1d","name":"Legal boolean payload results in","info":"","x":470,"y":120,"wires":[]},{"id":"2fed7d8057e53c7e","type":"comment","z":"c915f5851715ef1d","name":"Green dot indicator for \"true\" value","info":"","x":520,"y":160,"wires":[]},{"id":"67a733adf6d5bb29","type":"comment","z":"c915f5851715ef1d","name":"Green ring indicator for \"false\" value","info":"","x":520,"y":200,"wires":[]},{"id":"174eed2da1f1ef8d","type":"comment","z":"c915f5851715ef1d","name":"Illegal boolean payload results in","info":"","x":610,"y":440,"wires":[]},{"id":"b1a6c022d65b0d34","type":"comment","z":"c915f5851715ef1d","name":"Red ring indicator with payload info","info":"","x":660,"y":480,"wires":[]}]
